[submodule "class/daeload"]
	path = class/daeload
	url = https://github.com/IQuesadilla/daeload.git
[submodule "class/camera"]
	path = class/camera
	url = https://github.com/IQuesadilla/camera.git
[submodule "class/shader"]
	path = class/shader
	url = https://github.com/IQuesadilla/shader.git
[submodule "class/sdlwrapper"]
	path = class/sdlwrapper
	url = https://github.com/IQuesadilla/sdlwrapper.git
[submodule "class/datatypes"]
	path = class/datatypes
	url = https://github.com/IQuesadilla/datatypes.git
